<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339207702994-m6eaqsahbmuqbob1qi46h7b9d6rq4nt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339207702994-m6eaqsahbmuqbob1qi46h7b9d6rq4nt2</string>
	<key>API_KEY</key>
	<string>AIzaSyA88Ki03A5KgWJ5JKFXIDCRZP18hi89ka4</string>
	<key>GCM_SENDER_ID</key>
	<string>339207702994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liveallintoday</string>
	<key>PROJECT_ID</key>
	<string>live-all-in-17081</string>
	<key>STORAGE_BUCKET</key>
	<string>live-all-in-17081.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:339207702994:ios:5b031a1ca4d8db1e56a00b</string>
	<key>DATABASE_URL</key>
	<string>https://live-all-in-17081.firebaseio.com</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false/>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
	<true/>
</dict>
</plist>
